[submodule "StoryOfEmergence"]
	path = StoryOfEmergence
	url = https://github.com/InterfaceGuy/StoryOfEmergence.git
[submodule "TheLabyrinth"]
	path = TheLabyrinth
	url = https://github.com/InterfaceGuy/TheLabyrinth.git
[submodule "DomesticatedMind"]
	path = DomesticatedMind
	url = https://github.com/InterfaceGuy/DomesticatedMind.git
[submodule "TaylorExpansion"]
	path = TaylorExpansion
	url = https://github.com/InterfaceGuy/TaylorExpansion.git
[submodule "SpotlightVsFloodlightAwareness"]
	path = SpotlightVsFloodlightAwareness
	url = https://github.com/InterfaceGuy/SpotlightVsFloodlightAwareness.git
[submodule "DepletionRejuvenationSpirals"]
	path = DepletionRejuvenationSpirals
	url = https://github.com/InterfaceGuy/DepletionRejuvenationSpirals.git
[submodule "SixContinentSupplyChain"]
	path = SixContinentSupplyChain
	url = https://github.com/InterfaceGuy/SixContinentSupplyChain.git
[submodule "Emergence"]
	path = Emergence
	url = https://github.com/InterfaceGuy/Emergence.git
[submodule "ShadowDynamics"]
	path = ShadowDynamics
	url = https://github.com/InterfaceGuy/ShadowDynamics.git
[submodule "PreFigurativeSociety"]
	path = PreFigurativeSociety
	url = https://github.com/InterfaceGuy/PreFigurativeSociety.git
[submodule "MolochConsciousness"]
	path = MolochConsciousness
	url = https://github.com/InterfaceGuy/MolochConsciousness.git
[submodule "CivilisationCulturalistLens"]
	path = CivilisationCulturalistLens
	url = https://github.com/InterfaceGuy/CivilisationCulturalistLens.git
[submodule "ExistentialFriction"]
	path = ExistentialFriction
	url = https://github.com/InterfaceGuy/ExistentialFriction.git
[submodule "ThirdAttractor"]
	path = ThirdAttractor
	url = https://github.com/InterfaceGuy/ThirdAttractor.git
[submodule "Civilisation"]
	path = Civilisation
	url = https://github.com/InterfaceGuy/Civilisation.git
[submodule "CivBigHistoryLens"]
	path = CivBigHistoryLens
	url = https://github.com/InterfaceGuy/CivBigHistoryLens.git
[submodule "MeaningCrisis"]
	path = MeaningCrisis
	url = https://github.com/InterfaceGuy/MeaningCrisis.git
[submodule "CivSpiritualistLens"]
	path = CivSpiritualistLens
	url = https://github.com/InterfaceGuy/CivSpiritualistLens.git
[submodule "MetaCrisis"]
	path = MetaCrisis
	url = https://github.com/InterfaceGuy/MetaCrisis.git
[submodule "Synergy"]
	path = Synergy
	url = https://github.com/InterfaceGuy/Synergy.git
[submodule "CivDeepCycles"]
	path = CivDeepCycles
	url = https://github.com/InterfaceGuy/CivDeepCycles.git
[submodule "DifferentiationAndInteration"]
	path = DifferentiationAndInteration
	url = https://github.com/InterfaceGuy/DifferentiationAndInteration.git
[submodule "MolochSpreading"]
	path = MolochSpreading
	url = https://github.com/InterfaceGuy/MolochSpreading.git
[submodule "SocialTrap"]
	path = SocialTrap
	url = https://github.com/InterfaceGuy/SocialTrap.git
[submodule "MasterAndEmissaryHemispheres"]
	path = MasterAndEmissaryHemispheres
	url = https://github.com/InterfaceGuy/MasterAndEmissaryHemispheres.git
[submodule "SocialPolarization"]
	path = SocialPolarization
	url = https://github.com/InterfaceGuy/SocialPolarization.git
[submodule "Hyperobject"]
	path = Hyperobject
	url = https://github.com/InterfaceGuy/Hyperobject.git
[submodule "Galaxy"]
	path = Galaxy
	url = https://github.com/InterfaceGuy/Galaxy.git
[submodule "MolochAndMiracleField"]
	path = MolochAndMiracleField
	url = https://github.com/InterfaceGuy/MolochAndMiracleField.git
[submodule "LiminalWebUI"]
	path = LiminalWebUI
	url = https://github.com/InterfaceGuy/LiminalWebUI
